.product {
    width: 270px;
    height: 510px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}
.product-img {
    text-align: center;
}
.product img {
    width: 94%;
    margin-top: 7px;
}
.product-info {
    padding: 0 14px;
}
.product-info h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 15px;
}
.product-info .info-price {
    font-size: 20px;
}
.product-info p {
    margin: 10px 0;
    font-size: 18px;
}
.product button {
    width: 100%;
    padding: 12px 0;
    background: #fac069;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    cursor: pointer;
}
.product button:hover {
    background-color: orange;
    transition: all .4s ease;
}