.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container {
    height: 60px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
.container .a {
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    margin-left: 30px;
}
.container .active {
    color: orange;
    font-size: 17px;
    text-decoration: none;
    margin-left: 30px;
}
.container .a:hover {
    color: orange;
    transition: all .5s ease;
}
.logOut {
    margin-left: 30px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(255, 166, 0, 0.801);
    color: #ffffff;
    padding: 4px 10px;
}
.logOut:hover {
    background-color: rgba(255, 166, 0, 0.932);
    transition: all .4s ease;
}