.main-flex-container {
    display: flex;
    justify-content: center
}
.form-container {
    width: 500px;
    height: 600px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    color: #2A414F;
    box-shadow: -12px 12px rgba(255, 153, 0, 0.3);
    margin-bottom: 50px;
}
.form-title {
    font-size: 35px;
}
.input-group {
    width: 415px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 17px;
}
.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
}
.input-group input[type = submit] {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.input-group input[type = submit]:hover {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.6);
}
.if-new {
    font-size: 15px;
}
.if-new a {
    color: #FF9900;
    text-decoration: none;
}